VECB52_0507/generalt_minta.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vecb52_class_schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="lesson">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="course" type="xs:string" />
              <xs:element name="teacher" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="major" type="xs:string" />
              <xs:element name="time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="day" type="xs:string" />
                    <xs:element name="start" type="xs:string" />
                    <xs:element name="end" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>